body {
    background-color: rgb(255, 255, 255);
}
.navbar {
    background-color:#f5f5f5;
    padding: 2px;
    border: 2px solid;
    
}
img{
    width: 100px;
    height: 41px;
}

.navbar ul {
    overflow: auto;
    margin-left: -94px;
}
#logo{
    margin: 0px;
    width: 80px;
    height: 40px;
}

.navbar li {
    float: left;
    list-style: none;
    font-size: 27px;
    margin-left: 73px;
    font-family: Franklin Gothic Medium;
}

.navbar li a {
    
    text-decoration: none;
    padding: 3p;
    float: left;
    list-style: none;
    font-weight: bold;
}
.navbar li a:hover {
/* background-color:#ebe1e1; */
color: #903564;
}    
.navbar li a:active {
    color:#000000;
    /* background-color: #903564; */
    }    
#headerbutton{
    border-radius: 49px;
    height: 42px;
    width: 42px;
    font-size: 10px;
    margin-left: 835px;
}
#headerdiv{
    margin-top: 5px;
}
a{
    text-decoration: none;
    color:#000000;
}
