#divpara2{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: #6a675e;
}
#para2{
    width: 873px;
    margin-left: 165px;
    font-size: 19px;   
    line-height: 28px;
}
#divswami{
    display: inline-block;
    width: 289px;
    line-height: 34px;
    top: -49px;
    margin-left: 29px;
    font-size: 28px;
    font-family: "Georgia",sans-serif;
    font-style: italic;
    text-align: center;
    position: relative;
    color: #6a675e;
}

#aboutus{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: -32px;
    color: #474747;
    text-align: center;
    
}
.text-color{
    color: #ffad01;
  
}
#spanswami{
    font-size: 70%;
    margin-left: 98px;
}


 #divvision{
    background: #5cb9b1;
    color: #fff;
    padding: 33px 13px;
    margin-left: 50px;
    font-size: 20px;
    width: 404px;
    margin-top: 20px;
    height: 339px;
    text-align: center;
}


#divmission{
    background: #f59e2b;
    color: #fff;
    font-size: 20px;
    width: 421px;
    text-align: center;
    margin-top: 18px;
    height: 403px;
}
#video{
    position: relative;
    width: 538px;
    height: 440px;
}
#img1{
    width: 81px;
    margin-top: 10px;
    height: 82px;
    
}
#img2{
    width: 81px;
    height: 76px;
    margin-top: 39px;
}


.divvission{
    width: 100px;
    height: 600px;
}

.div1{
    height: 300px;
    width: 400px;
} 



#gimg1{
    width: 522px;
    height: 354px;
}

#gimg2{
    width: 379px;
    height: 354px;
}

#gimg3{
    width: 553px;
    height: 354px;
}

#gimg4{
    width: 548px;
    margin-left: 2px;
    height: 485px;
}


#gimg5{
    width: 516px;
    height: 484px;
}
#img100{
    width: 429px;
    height: 366px;
}

#gimg6{
    width: 1502px;
    height: 548px;
}

#gimg7{
    width: 677px;
    height: 478px;
}

#gimg8{
    width: 811px;
    height: 479px;
    margin-left: -4px;
}

#gimg9{
    width: 393px;
    height: 324px;
}


#gimg10{
    width: 583px;
    height: 324px; 
}

#gimg11{
    width: 509px;
    height: 322px;
}

#gimg12{
    width: 564px;
    height: 631px;
}
#gimg13{
    width: 925px;
    height: 632px;
}

#gimg14{
    width: 777px;
    height: 375px;
}
#gimg15{
    width: 714px;
    height: 375px;
}
#gimg16{
    width: 834px;
    height: 526px;
}
#gimg17{
        width: 335px;
        height: 527px;
}
#gimg18{
    width: 324px;
    height: 527px;
}
.gimg{
    margin:-2px;
}


#divcontact{
    border: 2px solid;
    margin-left: 478px;
    margin-top: 24px;
    width: 574px;
    height: 681px;
    padding: -402px;
}
h1{
    text-align: center;
    margin-left: 2px;
} 

#contact{
    width: 566px;
    font-size: 42px;
}

footer{
    
}
#footerimg{
    position: relative;
    top: 10px;
}






